In [23]:
import numpy as np
import scipy as sp
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import roc_auc_score, average_precision_score
import matplotlib
matplotlib.use('nbagg')
import matplotlib.pyplot as plt

In [24]:
#Carregando arquivo de teste
data_teste = pd.read_csv('data/teste_total.csv', sep=',', header = 0, low_memory=False)
data_teste.head()

,Unnamed: 0,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
0,1,89657,1,1,0,0,1,0,0,0.088470,...,1,0,1,0,0,0,0,1,0,1
1,2,283406,0,1,1,0,1,0,0,0.480233,...,0,0,1,0,1,1,0,1,0,1
2,3,222579,0,1,1,1,0,0,0,0.756080,...,0,0,1,0,1,1,0,1,1,0
3,4,18568,1,1,1,0,0,0,0,0.432186,...,0,0,0,1,1,0,0,0,0,1
4,5,113241,1,1,0,0,0,0,1,0.760283,...,1,1,0,0,1,1,0,0,0,1

In [25]:
#carregando arquivo de validaÃ§Ã£o
data_validacao = pd.read_csv('data/val_total.csv', sep=',', header = 0, low_memory=False)
data_validacao.head()

,Unnamed: 0,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
0,5786,328210,0,1,0,1,0,0,1,0.204443,...,0,1,1,1,1,0,0,1,1,0
1,4282,75482,1,1,0,0,0,0,1,0.498577,...,0,1,0,0,0,1,1,1,1,0
2,6268,221529,0,1,0,1,0,0,1,0.086483,...,0,0,1,0,0,1,0,1,1,0
3,4017,172199,1,0,0,1,0,1,0,0.808955,...,0,0,1,1,0,0,1,1,1,0
4,6021,242331,1,0,1,0,0,1,0,0.952643,...,0,0,1,1,0,1,1,0,1,0

In [26]:
#carregando arquivo de treino
data_treino = pd.read_csv('data/treino_total.csv', sep=',', header = 0, low_memory=False)
data_treino.head()

,Unnamed: 0,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
0,1,60218,1,0,0,0,1,0,1,0.872280,...,0,1,0,1,1,0,1,0,1,0
1,2,30064,1,1,1,0,0,0,0,0.702296,...,0,1,1,0,1,0,0,0,0,1
2,3,295284,1,0,1,0,1,0,0,0.417135,...,1,0,1,0,1,1,0,0,0,1
3,4,319945,1,1,0,0,1,0,0,0.295199,...,1,0,1,1,0,1,1,0,1,0
4,5,55801,1,0,1,0,1,0,0,0.284352,...,1,0,0,1,0,0,1,1,0,1

In [27]:
#gerando X e y de treino
data_treino = data_treino.drop('IND_BOM_1_2', 1)
X_treino = data_treino.iloc[:, :-1]
y_treino = data_treino.iloc[:, -1]
#y_treino.head()
X_treino.head()

,Unnamed: 0,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,...,CEP4_5,CEP4_6,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14
0,1,60218,1,0,0,0,1,0,1,0.872280,...,0,0,0,1,0,1,1,0,1,0
1,2,30064,1,1,1,0,0,0,0,0.702296,...,1,1,0,1,1,0,1,0,0,0
2,3,295284,1,0,1,0,1,0,0,0.417135,...,1,0,1,0,1,0,1,1,0,0
3,4,319945,1,1,0,0,1,0,0,0.295199,...,0,0,1,0,1,1,0,1,1,0
4,5,55801,1,0,1,0,1,0,0,0.284352,...,1,0,1,0,0,1,0,0,1,1

In [28]:
#gerando X e y de validaÃ§Ã£o
data_validacao = data_validacao.drop('IND_BOM_1_2', 1)
X_val = data_validacao.iloc[:, :-1]
y_val = data_validacao.iloc[:, -1]
#y_val.head()
X_val.head()

,Unnamed: 0,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,...,CEP4_5,CEP4_6,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14
0,5786,328210,0,1,0,1,0,0,1,0.204443,...,0,0,0,1,1,1,1,0,0,1
1,4282,75482,1,1,0,0,0,0,1,0.498577,...,0,0,0,1,0,0,0,1,1,1
2,6268,221529,0,1,0,1,0,0,1,0.086483,...,0,0,0,0,1,0,0,1,0,1
3,4017,172199,1,0,0,1,0,1,0,0.808955,...,1,0,0,0,1,1,0,0,1,1
4,6021,242331,1,0,1,0,0,1,0,0.952643,...,1,0,0,0,1,1,0,1,1,0

In [29]:
#gerando X e y de teste
data_teste = data_teste.drop('IND_BOM_1_2', 1)
X_teste = data_teste.iloc[:, :-1]
y_teste = data_teste.iloc[:, -1]
y_teste.head()
X_teste.head()

,Unnamed: 0,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,...,CEP4_5,CEP4_6,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14
0,1,89657,1,1,0,0,1,0,0,0.088470,...,0,1,1,0,1,0,0,0,0,1
1,2,283406,0,1,1,0,1,0,0,0.480233,...,1,0,0,0,1,0,1,1,0,1
2,3,222579,0,1,1,1,0,0,0,0.756080,...,0,0,0,0,1,0,1,1,0,1
3,4,18568,1,1,1,0,0,0,0,0.432186,...,1,1,0,0,0,1,1,0,0,0
4,5,113241,1,1,0,0,0,0,1,0.760283,...,0,0,1,1,0,0,1,1,0,0